body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.cabecalho .cabecalho__logo img{
    width: 60px;
}